body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.grid {
    width: 200px;
    height: 400px;
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 20px;
    width: 20px;
    background-color: yellow;
}

.tetramino {
    background-color: red;
}

.button-group {
    width: 200px;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
}

#rotate-btn {
    grid-column-start: 2;
    grid-column-end: 3;
}

#left-btn {
    grid-column-start: 1;
    grid-column-end: 2;
}

#right-btn {
    grid-column-start: 3;
    grid-column-end: 4;
}

#down-btn {
    grid-column-start: 2;
    grid-column-end: 3;
}
